@use "modules/var";

#divDetailsPage {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  box-shadow: 5px 5px 4px darkgray;
  background-color: var.$B-color-ten;

  & > div:first-child {
    background-color: darken(var.$B-color-twenty, 5%);
    & > h2 {
      text-align: center;
      padding: 1rem 0;
      font-size: 4rem;
      color: var.$B-color;
    }
  }

  & > div:nth-child(2) {
    background-color: var.$B-color;
    margin: 1rem 10%;

    & > div {
      padding: 0.5rem 0 0.5rem 2rem;
      display: flex;
      flex-wrap: nowrap;
      border-bottom: 1px solid darkgray;
      font-size: 2rem;

      & > div:first-child {
        width: 80%;
        display: flex;
        align-items: center;
      }
      & > div:last-child {
        width: 10%;
        text-align: center;
        font-size: 3rem;
        color: green;
        cursor: pointer;

        & > p {
          font-size: 1.5rem;
        }
      }
    }
  }

  & > div:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;

    & > div:first-child {
      text-align: center;
      color: green;
      padding-bottom: 1rem;
      font-size: 2.5rem;

      & > p {
        font-size: 1.5rem;
      }
    }

    & > span {
      cursor: pointer;

      &:hover {
        color: var.$B-color-twenty;
      }
    }
  }
}