@use "modules/var";
@use "homeContainer";
@use "addWindow";
@use "detailsPage";
@use "connection";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

HTML {
  font-size: 62.5%;
}

body {
  background-color: var.$B-color;
  font-family: "Comic Sans MS", sans-serif;
}

@media screen and (max-width: 1200px){
  #container {
    width: 80%;
  }

  #addWindow{
    width: 50%;
    left: 25%;
  }

  #form {
    width: 50%;
  }
}

@media screen and (max-width: 1000px){
  HTML {
    font-size: 55%;
  }
  #container {
    margin: 0;
    width: 100%;

    & > div:last-child > div > div:last-child {
      height: 200px;
    }
  }

  #addWindow{
    width: 60%;
    left: 20%;
  }
}

@media screen and (max-width: 800px){
  HTML {
    font-size: 50%;
  }

  #container {
      & > div:last-child > div {
      display: block;
      & > div {
        width: 95% !important;
        margin: 2rem auto;
      }
    }

    & > div:last-child > div > div:last-child {
      height: 180px;
    }
  }

  #addWindow{
    width: 70%;
    left: 15%;
  }

  #form {
    width: 80%;
  }
}

@media screen and (max-width: 600px){
  HTML {
    font-size: 50%;
  }

  #container {
    & > div:last-child {
      padding: 1rem 0;
      & > div > div:first-child {
        width: 55%;
      }

      & > div > div:last-child {
        width: 40%;
      }
    }
  }

  #addWindow{
    width: 100%;
    left: 0;
  }

  #form {
    width: 100%;
  }
}